@import "variables.scss";

.features-section{
  width: 100%;
  height: 500px;
  background-image: url('../../imgs/20240911_175247.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #052f5fde;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title{
  color: white;
  font-size: 60px;
  margin-bottom: 70px;
  margin-top: 60px;
}
.features-text-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 80%;
}
.features-text{
  color: white;
  font-family: 'inter', sans-serif;
  text-align: center;
  font-size: 20px;
}