@import "variables.scss";

body,html{
  margin: 0;
  min-width: 450px;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body{
  font-family: "Merriweather", serif;;
  position: relative;
}

main{
  margin-top: $headerHeight;
}

p{
  margin: 0;
}

h1{
  font-weight: normal;
  margin: 0;
}










