@import "variables.scss";

.intro-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.txt-wrapper{
  width: 40%;
  padding-left: 60px;
}

.scooter-img{
  width: 60%;
}

.title{
  font-size: 50px;
  color: $base-blue;
  margin-bottom: 5px;
}

.button{
  color: black;
  background-color: $base-gray;
  height: 50px;
  width: 250px;
  border: none;
  font-size: 23px;
  font-family: "inter", sans-serif;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-out;
  font-weight: bold;
}
.button:hover{
  color: white;
}
.button::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-red;
  color: white;
  z-index: -1;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}
.button:hover::after{
  transform: scaleX(1);
}


