@import "variables.scss";


.price-wrapper{
  display: flex;
  justify-content: center;
}
.table-wrapper{
  width: 80%;
}

.price-table{
  border-collapse: collapse; 
  width: 100%;
  font-family: "inter", sans-serif;
}
.helmet-table{
  margin-top: 30px;
}

td{
  border: 1px $base-blue solid;
  padding: 10px 40px;
}

.tr-dark{
  background-color: $base-gray;
}

.gratis-row{
 text-align: center;
 font-size: 30px;
}

.price-title-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.price-title{
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: $base-blue;
}

